.common-inner--cart .crumbs {
    margin-top: -39px;
}

.common-inner--cart .crumbs {
    margin-bottom: -11px;

}

.common-inner--cart .cart__list {
    width        : 100%;
    margin-bottom: 39px;
}


.common-inner--cart .cart {
    padding: 0;
}


.common-inner--cart .cart__item {
    align-items   : flex-start;
    padding-top   : 20px;
    padding-bottom: 10px;
    position      : relative;
}


.common-inner--cart .cart__item-close {
    font-size   : 0;
    margin-right: 23px;
    margin-left : 4px;
    margin-top  : 2px;

}


.common-inner--cart .cart__item-img {
    width       : 59px;
    height      : 133px;
    margin-right: 63px;
}


.common-inner--cart .cart__item-info-name {
    margin-bottom: 15px;
}

.common-inner--cart .cart__item-info-articul {
    margin-bottom : 5px;
    letter-spacing: 1.3px;
}

.common-inner--cart .cart__item-info-about {
    letter-spacing: 1.3px;

}

.common-inner--cart .cart__item-price {
    position: absolute;
    right   : 27%;
    top     : 77px;
}

.common-inner--cart .cart__item-count {
    position: absolute;
    left    : 73%;
    top     : 24%;

}

.common-inner--cart .cart__item-count-list {
    margin-left: 2px;
}


.common-inner--cart .cart__item-total-price {
    position: absolute;
    left    : 91.5%;
    top     : 48%;


}


.common-inner--cart .cart__promo-title {
    letter-spacing: 2px;
    margin-bottom : 11px;
}

.common-inner--cart .cart__promo-info {
    letter-spacing: 1px;
    margin-bottom : 22px;
}

.common-inner--cart .cart__promo-btn {
    letter-spacing: 1.7px;
}

.common-inner--cart .cart__total-count {
    margin-left : 56px;
    word-spacing: 4px;

}

.common-inner--cart .filterSortContainer {
    margin-bottom: 24px;
}

.common-inner--cart .cart__promo-input {
    text-align    : center;
    font-family   : "Droid Sans Regular, Arial, sans-serif";
    font-style    : normal;
    font-weight   : normal;
    font-size     : 16px;
    line-height   : 15px;
    letter-spacing: 0.05em;
    color         : #000000;
}

.common-inner--cart {}

.common-inner--cart {}