@font-face {
    font-family : "Droid Sans Regular, Arial, sans-serif";
    font-weight : 400;
    font‑display: swap;
    src         : url("./fonts/droid-sans.woff2") format("woff2");
    src         : url("./fonts/droid-sans.woff") format("woff");
}

@font-face {
    font-family : "Droid Sans Bold, Arial, sans-serif";
    font-weight : 400;
    font‑display: swap;
    src         : url("./fonts/droid-sans.woff2") format("woff2");
    src         : url("./fonts/droid-sans.woff") format("woff");
}
