@charset "UTF-8";
@font-face {
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-weight: 400;
  font‑display: swap;
  src: url("./fonts/droid-sans.woff2") format("woff2");
  src: url("./fonts/droid-sans.woff") format("woff");
}

@font-face {
  font-family: "Droid Sans Bold, Arial, sans-serif";
  font-weight: 400;
  font‑display: swap;
  src: url("./fonts/droid-sans.woff2") format("woff2");
  src: url("./fonts/droid-sans.woff") format("woff");
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*--------------------*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

.header {
  background-color: #dddada;
  min-width: 1025px;
}

.header__inner {
  max-width: 1020px;
  padding: 20px 40px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 1024px) {
  .header__inner {
    max-width: 768px;
    padding-left: 30px;
  }
}

@media (max-width: 769px) {
  .header__inner {
    max-width: 320px;
    padding: 9px 22px 11px 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
}

.header__logo {
  background: url("img/Logo.png") no-repeat;
  width: 67px;
  height: 70px;
  margin-left: 2px;
  margin-right: 69px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .header__logo {
    margin-right: 38px;
  }
}

@media (max-width: 769px) {
  .header__logo {
    background: url("img/Logo-mobile.png") no-repeat;
    width: 37px;
    height: 40px;
    margin-right: 0;
    margin-top: 1px;
    margin-left: 8px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-right: 158px;
}

@media (max-width: 1024px) {
  .header__nav {
    margin-right: 49px;
  }
}

@media (max-width: 769px) {
  .header__nav {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #3f3f3f;
    position: absolute;
    top: 0;
    left: 0;
    padding: 19px 66px 25px 19px;
  }
}

.header__nav-item {
  margin-right: 43px;
}

.header__nav-item:nth-child(5n) {
  margin-right: 0;
}

@media (max-width: 1024px) {
  .header__nav-item {
    margin-right: 22px;
  }
}

@media (max-width: 769px) {
  .header__nav-item {
    margin-right: 0;
    margin-bottom: 13.9px;
  }
}

.header__nav-item-link {
  color: #000000;
  font-family: Droid Sans Regular, Arial, sans-serif, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.85px;
  line-height: 20px;
}

@media (max-width: 769px) {
  .header__nav-item-link {
    color: #ffffff;
    font-family: "Droid Sans Regular, Arial, sans-serif";
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.6px;
  }
}

.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 113px;
}

.header__user-item-link {
  font-size: 0;
}

.header__user-item {
  margin-right: 36px;
}

.header__user-item:nth-child(3n) {
  margin-right: 0;
}

.header__user-item--location {
  margin-right: 50px;
}

@media (max-width: 1024px) {
  .header__user-item--location {
    margin-right: 47px;
  }
}

@media (max-width: 769px) {
  .header__user-item--location {
    display: none;
  }
}

.header__user-item--location a {
  position: relative;
}

.header__user-item--location a::before {
  content: url("img/point.svg");
  position: absolute;
  width: 14px;
  height: 16px;
}

.header__user-item--search {
  margin-right: 48px;
}

@media (max-width: 1024px) {
  .header__user-item--search {
    margin-right: 44px;
  }
}

@media (max-width: 769px) {
  .header__user-item--search {
    margin-right: 17px;
  }
}

.header__user-item--search a {
  position: relative;
}

.header__user-item--search a::before {
  content: url("img/search.svg");
  position: absolute;
  width: 14px;
  height: 14px;
}

@media (max-width: 769px) {
  .header__user-item--search a::before {
    content: url("img/search-mobile.svg");
    width: 10px;
    height: 10px;
    left: -29px;
    top: -8px;
  }
}

.header__user-item--cart a {
  position: relative;
}

.header__user-item--cart a::before {
  content: url("img/cart.svg");
  position: absolute;
  width: 14px;
  height: 14px;
}

@media (max-width: 769px) {
  .header__user-item--cart a::before {
    content: url("img/cart-mobile.svg");
    width: 10px;
    height: 10px;
    left: -19px;
    top: -9px;
  }
}

.header__user-item--cart .header__user-item-link-count {
  color: #f20505;
  font-family: Droid Sans Regular, Arial, sans-serif, Arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  -webkit-transform: translate(17px, -2px);
          transform: translate(17px, -2px);
}

@media (max-width: 769px) {
  .header__user-item--cart .header__user-item-link-count {
    -webkit-transform: translate(-6px, -2px);
            transform: translate(-6px, -2px);
  }
}

.header__burger {
  background: url("img/burger.svg") no-repeat;
  width: 14px;
  height: 9px;
  display: none;
}

@media (max-width: 769px) {
  .header__burger {
    display: block;
  }
}

.header__nav-item-close {
  display: none;
  background: url("img/close-mobile.svg") no-repeat;
  width: 12px;
  height: 12px;
}

@media (max-width: 769px) {
  .header__nav-item--services {
    margin-bottom: 21px;
  }
}

.header__nav-item--shops {
  display: none;
  padding-left: 27px;
  position: relative;
}

.header__nav-item--shops::before {
  position: absolute;
  content: url("img/shops-header.svg");
  left: 5px;
  bottom: 1px;
}

.header--burger-active .header__nav {
  display: block;
}

.header--burger-active .header__nav-item-close {
  display: block;
}

.header--burger-active .header__nav-item--shops {
  display: block;
}

.footer {
  min-width: 1025px;
  position: relative;
}

.footer__inner {
  position: absolute;
  background: #3f3f3f;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer__inner::before {
  content: "";
  background: #3f3f3f;
  width: 100%;
  height: 6px;
  position: absolute;
  top: -16px;
}

.footer__about {
  width: 142px;
  margin-top: 26px;
  margin-right: 17px;
}

.footer__catalog {
  width: 142px;
  margin-top: 26px;
  margin-right: 21px;
}

.footer__info {
  margin-top: 26px;
  width: 122px;
  margin-right: 115px;
}

.footer__contacts {
  width: 140px;
  margin-top: 27px;
}

.footer__logo {
  margin-right: 123px;
  width: 118px;
}

.footer__wrapper {
  max-width: 1020px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-weight: 400;
  color: #ffffff;
  padding: 58px 40px 60px 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__logo-links-item-link {
  font-size: 0;
  opacity: 0.5;
}

.footer__logo-links-item-link--facebook::before {
  content: url("img/facebook.svg");
}

.footer__logo-links-item-link--instagram::before {
  content: url("img/instagram.svg");
}

.footer__logo-links-item-link--twitter::before {
  content: url("img/twitter.svg");
}

.footer__logo-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__about-title {
  opacity: 0.7;
  color: #ffffff;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.4px;
  margin-bottom: 17px;
}

.footer__catalog-title {
  opacity: 0.7;
  color: #ffffff;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.9px;
  margin-bottom: 13px;
}

.footer__info-title {
  opacity: 0.7;
  color: #ffffff;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.4px;
  margin-bottom: 13px;
}

.footer__contacts-title {
  opacity: 0.7;
  color: #ffffff;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.4px;
  margin-bottom: 13px;
}

.footer__logo-img {
  margin-bottom: 56px;
  margin-top: 4px;
}

.footer__about-text1 {
  margin-bottom: 15px;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.3px;
}

.footer__about-text2 {
  font-size: 10px;
  line-height: 12px;
}

.footer__catalog-list-item {
  margin-bottom: 0px;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 1.3px;
}

.footer__catalog-list-item:nth-child(5n) {
  margin-bottom: 0;
}

.footer__info-list-item {
  margin-bottom: 0px;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.1em;
}

.footer__info-list-item:nth-child(5n) {
  margin-bottom: 0;
}

.footer__contacts-adress {
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 1.3px;
  margin-bottom: 0;
}

.footer__contacts-adress-tel {
  color: #ffffff;
  font-weight: 400;
  line-height: 13px;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-weight: 400;
  display: block;
  padding-left: 14px;
  position: relative;
  margin-bottom: 12px;
}

.footer__contacts-adress-tel::before {
  position: absolute;
  content: url("img/phone.svg");
  left: 0;
}

.footer__contacts-time {
  display: block;
  padding-left: 14px;
  width: 100%;
  position: relative;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
}

.footer__contacts-time::before {
  position: absolute;
  content: url("img/clock.svg");
  left: 0;
}

.footer__contacts-adress--bottom {
  margin-bottom: 0;
}

.footer__guitar {
  height: 400px;
  background: url("img/guitar_footer.png") no-repeat -65px 41px;
  max-width: 1020px;
  margin: 0 auto;
}

.footer__catalog-list-item-link {
  margin-bottom: 0px;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 1.3px;
  color: #ffffff;
}

.footer__catalog-list-item-link:hover {
  opacity: 0.7;
}

.footer__catalog-list-item-link:active {
  opacity: 0.5;
}

.footer__info-list-item-link {
  margin-bottom: 0px;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 1.3px;
  color: #ffffff;
}

.footer__info-list-item-link:hover {
  opacity: 0.7;
}

.footer__info-list-item-link:active {
  opacity: 0.5;
}

.footer__logo-links-item-link:hover {
  opacity: 0.7;
}

.footer__logo-links-item-link:active {
  opacity: 0.5;
}

.guitar {
  background: url("img/image-back.png") no-repeat;
  width: 1020px;
  height: 282px;
  max-width: 1020px;
  margin: 0 auto;
  margin-top: -37px;
}

@media (max-width: 1024px) {
  .guitar {
    background: url("img/image-back-tablet.png") right no-repeat;
    width: 768px;
    height: 213.23px;
    margin-top: -24px;
  }
}

@media (max-width: 769px) {
  .guitar {
    width: 320px;
    height: 106.63px;
    background: url("img/image-back-mobile.png") right no-repeat;
    margin-top: -14px;
  }
}

.crumbs__title {
  color: #000000;
  font-family: "Droid Sans Bold, Arial, sans-serif";
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.9px;
  word-spacing: -2px;
  margin-bottom: 24px;
}

@media (max-width: 769px) {
  .crumbs__title {
    color: #000000;
    font-family: "Droid Sans Bold, Arial, sans-serif";
    font-size: 16px;
    font-weight: 700;
  }
}

@media (max-width: 769px) {
  .crumbs__title {
    letter-spacing: 1.5px;
  }
}

.crumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 769px) {
  .crumbs__list {
    display: none;
  }
}

.crumbs__item {
  color: #474747;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-size: 16px;
  font-weight: 400;
  margin-right: 35px;
  position: relative;
  letter-spacing: 0.7px;
}

.crumbs__item::before {
  content: url("img/arrow-right.svg");
  position: absolute;
  width: 16px;
  height: 16px;
  right: -25px;
  bottom: -1px;
}

.crumbs__item:nth-last-child(1)::before {
  content: "";
}

.crumbs {
  max-width: 1020px;
  padding: 20px 41px;
  margin: 0 auto;
  margin-top: -64px;
  margin-bottom: 12px;
}

@media (max-width: 1024px) {
  .crumbs {
    max-width: 768px;
    padding-left: 30px;
    margin-top: -8px;
  }
}

@media (max-width: 769px) {
  .crumbs {
    max-width: 320px;
    padding: 9px 22px 11px 20px;
    margin-top: -13px;
  }
}

.crumbs__item-link {
  color: #474747;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-size: 16px;
  font-weight: 400;
  position: relative;
  letter-spacing: 0.7px;
}

.crumbs__item-link:hover {
  opacity: 0.7;
}

.crumbs__item-link:active {
  opacity: 0.5;
}

.sorting__item-link-price:hover {
  opacity: 0.7;
}

.sorting__item-link-price:active {
  opacity: 0.5;
}

.sorting__item-link-up::before:hover {
  opacity: 0.7;
}

.sorting__item-link-up::before:active {
  opacity: 0.5;
}

.filter__type-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter__string-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter__type-checkbox {
  position: absolute;
  width: 24px;
  height: 24px;
  background: url("img/clear-checkbox.svg");
}

.filter__string-checkbox {
  position: absolute;
  width: 24px;
  height: 24px;
  background: url("img/clear-checkbox.svg");
}

.filter__type-input:checked + .filter__type-checkbox {
  background: url("img/filled-checkbox.svg");
}

.filter__string-input:checked + .filter__string-checkbox {
  background: url("img/filled-checkbox.svg");
}

.filter__string-input:disabled + .filter__string-checkbox {
  background-color: #f6f3f3;
  opacity: 0.5;
}

.filter__name {
  color: #000000;
  font-family: "Droid Sans Bold, Arial, sans-serif";
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid #e7e4e4;
  letter-spacing: 1.8px;
}

.filter__type-label {
  color: #000000;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-size: 16px;
  font-weight: 400;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 17px;
  letter-spacing: 0.5px;
  margin-bottom: 21px;
}

.filter__type-label:nth-child(4n) {
  margin-bottom: 0;
}

.filter__string-label {
  color: #000000;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-size: 16px;
  font-weight: 400;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 21px;
}

.filter__type-checkbox {
  margin-left: -40px;
}

.filter__string-checkbox {
  margin-left: -40px;
}

.filter {
  max-width: 208px;
  margin-right: 32px;
}

.filter__price-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  border-bottom: 1px solid #e7e4e4;
  padding-bottom: 29px;
}

.filter__price-inner::before {
  content: "";
  position: absolute;
  background-color: #585757;
  width: 14px;
  height: 1px;
  right: 97px;
}

.filter__price-from {
  width: 84px;
  height: 28px;
  border-radius: 2px;
  border: 1px solid #9f9e9e;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 10px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.filter__price-to {
  width: 84px;
  height: 28px;
  border-radius: 2px;
  border: 1px solid #9f9e9e;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 10px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.filter__price-name {
  color: #000000;
  font-size: 18px;
  font-family: "Droid Sans Bold, Arial, sans-serif";
  font-weight: 700;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

.filter__type-name {
  color: #000000;
  font-size: 18px;
  font-family: "Droid Sans Bold, Arial, sans-serif";
  font-weight: 700;
  margin-bottom: 30px;
  padding-left: 1px;
  margin-top: -1px;
  letter-spacing: 1.2px;
}

.filter__string-name {
  color: #000000;
  font-size: 18px;
  font-family: "Droid Sans Bold, Arial, sans-serif";
  font-weight: 700;
  margin-bottom: 28px;
  letter-spacing: 1.4px;
  margin-bottom: 29px;
}

.filter__btn {
  width: 120px;
  height: 30px;
  border-radius: 2px;
  background-color: #c1c1c1;
  color: #ffffff;
  font-family: "Droid Sans Bold, Arial, sans-serif";
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.filter__price {
  margin-bottom: 33px;
}

.filter__type {
  border-bottom: 1px solid #e7e4e4;
  padding-bottom: 33px;
  margin-bottom: 32px;
}

.filter__string {
  margin-bottom: 44px;
}

.filter__type-label span:active {
  opacity: 0.5;
}

.filter__string-num-disabled {
  opacity: 0.5;
}

.filterSortContainer {
  max-width: 1020px;
  padding: 20px 40px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: -8px;
  min-width: 1025px;
}

@media (max-width: 1024px) {
  .filterSortContainer {
    max-width: 768px;
    padding-left: 30px;
  }
}

@media (max-width: 769px) {
  .filterSortContainer {
    max-width: 320px;
    padding: 9px 22px 11px 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
}

.sorting {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: -5px;
}

.sorting__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sorting__title {
  color: #000000;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.8px;
  line-height: 20px;
  letter-spacing: 1.3px;
  margin-right: 19px;
}

.sorting__item--price {
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin-right: 34px;
}

.sorting__item--popular {
  color: #000000;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.1px;
  line-height: 20px;
  margin-right: 256px;
}

.sorting__item--price-up {
  margin-right: 36px;
  margin-top: -13px;
}

.sorting__item-link-up {
  position: relative;
  opacity: 0.5;
}

.sorting__item-link-up::before {
  position: absolute;
  content: url("img/up.svg");
}

.sorting__item--price-down {
  margin-top: -19px;
}

.sorting__item-link-down {
  position: relative;
  opacity: 0.5;
}

.sorting__item-link-down::before {
  content: url("img/up.svg");
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sorting__item-link-price {
  letter-spacing: 1.1px;
}

.sorting__item-link-popular {
  color: #585757;
}

.sorting__item-link-price {
  color: #585757;
}

.sorting__item-link-price--active {
  color: black;
}

.sorting__item-link-popular--active {
  color: black;
}

.sorting__item-link-down--active {
  opacity: 1;
}

.sorting__item-link-up--active {
  opacity: 1;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 718px;
  margin-top: -580px;
  margin-right: -17px;
  justify-content: flex-start;
}

.items__page {
  width: 24px;
  height: 24px;
  border: 0.7px solid #9F9E9E;
  border-radius: 2px;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-right: 10px;
  text-align: center;
  display: block;
}

.items__page--active {
  background: #585757;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.items__page-next {
  width: 80px;
  height: 25px;
  background: #FFFFFF;
  border: 0.7px solid #9F9E9E;
  border-radius: 2px;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #000000;
  text-align: center;
  margin-top: -3px;
  margin-right: 17px;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-right: 4px;
  margin-top: -3px;
}

.pagination__item {
  margin-right: 0px;
}

.pagination__item:nth-last-child(1) {
  margin-right: 0;
}

.pagination {
  margin-left: auto;
}

.item {
  margin-right: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 16px 14px 20px 12px;
  width: 220px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #dddada;
  margin-bottom: 30px;
}

.item__name {
  color: #000000;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
  line-height: 15px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-bottom: 11px;
}

.item__price {
  color: #000000;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
  line-height: 15px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-bottom: 11px;
}

.item__about {
  width: 89px;
  height: 23px;
  border-radius: 2px;
  background-color: #c1c1c1;
  color: #ffffff;
  font-family: "Droid Sans Bold, Arial, sans-serif";
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.9px;
  line-height: 15px;
}

.item__buy {
  width: 87px;
  height: 23px;
  border-radius: 2px;
  background-color: #e27f00;
  color: #ffffff;
  font-family: "Droid Sans Bold, Arial, sans-serif";
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 15px;
  position: relative;
  padding-left: 15px;
}

.item__buy::before {
  content: url("img/cart-btn.svg");
  position: absolute;
  left: 10px;
  top: 6px;
}

.item__rating-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-right: 0px;
}

.item__rating-item {
  background-image: url("img/filled-star.svg");
  width: 11px;
  height: 11px;
  margin-right: 3px;
}

.item__rating-item:nth-child(5n) {
  background: url("img/empty-star.svg");
}

.item__pic {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 1px;
  text-align: center;
}

.item__pic-img {
  width: 77px;
  height: 197px;
}

.item__rating {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #000000;
}

.item__price-text {
  text-align: right;
}

.item__rating-count {
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #9F9E9E;
}

.item__rating-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.item__name-text {
  white-space: nowrap;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-bottom: 1px solid #ecebeb;
}

.cart__item:nth-child(1) {
  border-top: 1px solid #ecebeb;
}

.cart__item-close {
  font-size: 0;
  margin-right: 25px;
}

.cart__item-close::before {
  content: url("img/close-cart.svg");
}

.cart__item-img {
  margin-right: 60px;
}

.cart__item-info {
  margin-right: 95px;
}

.cart__item-info-name {
  color: #000000;
  font-family: "Droid Sans Bold, Arial, sans-serif";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.8px;
  line-height: 15px;
  text-transform: uppercase;
}

.cart__item-info-articul {
  color: #000000;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.7px;
  line-height: 15px;
}

.cart__item-info-about {
  color: #000000;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.7px;
  line-height: 15px;
}

.cart__item-price {
  margin-right: 90px;
}

.cart__item-price-total {
  color: #000000;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 15px;
}

.cart__item-total-price-number {
  color: #000000;
  font-family: "Droid Sans Bold, Arial, sans-serif";
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 15px;
}

.cart__item-count-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cart__item-count {
  margin-right: 90px;
}

.cart__item-count-list-item {
  width: 28px;
  height: 30px;
  border: 1px solid #9f9e9e;
  position: relative;
}

.cart__item-count-list-item:nth-child(2n) {
  border-right: none;
  border-left: none;
}

.cart__item-count-list-item-link--dis {
  font-size: 0;
  padding: 14px;
}

.cart__item-count-list-item-link--dis::before {
  content: url("img/minus.svg");
  width: 8px;
  height: 1px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 50%;
}

.cart__item-count-list-item-link--inc {
  font-size: 0;
  padding: 14px;
}

.cart__item-count-list-item-link--inc::before {
  content: url("img/plus.svg");
  width: 8px;
  height: 1px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-55%);
          transform: translateX(-55%);
  top: 39%;
}

.cart__item-count-list-item-link-total-count {
  color: #9f9e9e;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.8px;
  line-height: 15px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 25%;
}

.cart {
  max-width: 1020px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__promo-title {
  color: #000000;
  font-family: "Droid Sans Bold, Arial, sans-serif";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.8px;
  margin-bottom: 10px;
}

.cart__promo-info {
  color: #000000;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.6px;
  margin-bottom: 15px;
}

.cart__promo-input {
  width: 170px;
  height: 36px;
  border-radius: 2px;
  border: 2px solid #dddada;
}

.cart__promo-btn {
  width: 200px;
  height: 36px;
  border-radius: 2px;
  background-color: #c1c1c1;
  color: #ffffff;
  font-family: "Droid Sans Bold, Arial, sans-serif";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.8px;
  line-height: 15px;
  position: absolute;
  right: 0;
  top: 59px;
}

.cart__total-count {
  width: 170px;
  color: #000000;
  font-family: "Droid Sans Bold, Arial, sans-serif";
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 15px;
  margin-bottom: 40px;
}

.cart__total-btn {
  width: 220px;
  height: 36px;
  border-radius: 2px;
  background-color: #e27f00;
  color: #ffffff;
  font-family: "Droid Sans Bold, Arial, sans-serif";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.8px;
  line-height: 15px;
}

.cart__promo {
  max-width: 405px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.cart__total {
  max-width: 221px;
}

.cart__list {
  margin-bottom: 30px;
}

.popup__top-title {
  letter-spacing: 2px;
  word-spacing: -3px;
  color: #474747;
  font-family: "Droid Sans Bold, Arial, sans-serif";
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2px;
  line-height: 15px;
}

.popup__bottom-info-name {
  color: #000000;
  font-family: "Droid Sans Bold, Arial, sans-serif";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.8px;
  line-height: 15px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.popup__bottom-info-articul {
  color: #000000;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.2px;
  line-height: 15px;
  margin-bottom: 5px;
}

.popup__bottom-info-about {
  color: #000000;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.2px;
  line-height: 15px;
  margin-bottom: 19px;
}

.popup__bottom-info-price {
  color: #000000;
  font-family: "Droid Sans Bold, Arial, sans-serif";
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2px;
  line-height: 15px;
}

.popup__btn {
  width: 220px;
  height: 46px;
  border-radius: 2px;
  background-color: #e27f00;
  color: #ffffff;
  font-family: "Droid Sans Bold, Arial, sans-serif";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2px;
  line-height: 15px;
  margin-top: 17px;
}

.popup__top-close {
  font-size: 0;
  margin-top: -17px;
}

.popup__top-close::before {
  content: url("img/close-cart.svg");
}

.popup__inner {
  width: 740px;
  padding: 30px 23px 25px 50px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 47%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.popup__top {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 21px;
}

.popup__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.popup__bottom-img {
  margin-right: 40px;
  width: 57px;
  height: 138px;
}

.popup__bottom-info {
  margin-right: 119px;
  margin-top: 18px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup--active {
  display: block;
}

.wrapper--popup-active {
  background: rgba(88, 87, 87, 0.6);
}

.popup-adding .popup__bottom {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 35px;
  margin-left: 44px;
}

.popup-adding .popup__btn {
  margin-right: 35px;
}

.popup-adding .popup__inner--adding {
  padding-bottom: 57px;
}

.popup-removing .popup__inner--removing {
  top: 34%;
}

.popup__btn--removing {
  position: absolute;
  right: 6.7%;
  top: 63%;
  margin-top: 0;
  background-color: #fff;
  color: #585757;
  border: 1px solid #585757;
  border-radius: 2px;
}

.popup__btn--adding {
  background-color: #fff;
  color: #585757;
  border: 1px solid #585757;
  border-radius: 2px;
}

.popup__btn:hover {
  opacity: 0.7;
}

.popup__btn:active {
  opacity: 0.5;
}

.cart__total-btn:hover {
  opacity: 0.7;
}

.cart__total-btn:active {
  opacity: 0.5;
}

.cart__promo-btn:hover {
  opacity: 0.7;
}

.cart__promo-btn:active {
  opacity: 0.5;
}

.cart__item-count-list-item-link:hover {
  opacity: 0.7;
}

.cart__item-count-list-item-link:active {
  opacity: 0.5;
}

.cart__item-count-list-item:hover {
  opacity: 0.7;
}

.cart__item-count-list-item:active {
  opacity: 0.5;
}

.item__buy:hover {
  background: #ffa839;
}

.item__buy:active {
  background: #da8b26;
}

.item__about:hover {
  background: #585757;
}

.item__about:active {
  background: #c1c1c1;
}

.header__nav-item-link:hover {
  color: #474747;
}

.header__nav-item-link:active {
  color: rgba(71, 71, 71, 0.5);
}

.header__user-item-link:hover::before {
  opacity: 0.8;
}

.header__user-item-link:active::before {
  opacity: 0.5;
}

.items__page:hover {
  opacity: 0.8;
}

.items__page:active {
  opacity: 0.5;
}

.items__page a:hover {
  opacity: 0.8;
}

.items__page a:active {
  opacity: 0.5;
}

.items__page-next:hover {
  opacity: 0.8;
}

.items__page-next:active {
  opacity: 0.5;
}

.common-inner--cart .crumbs {
  margin-top: -39px;
}

.common-inner--cart .crumbs {
  margin-bottom: -11px;
}

.common-inner--cart .cart__list {
  width: 100%;
  margin-bottom: 39px;
}

.common-inner--cart .cart {
  padding: 0;
}

.common-inner--cart .cart__item {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 10px;
  position: relative;
}

.common-inner--cart .cart__item-close {
  font-size: 0;
  margin-right: 23px;
  margin-left: 4px;
  margin-top: 2px;
}

.common-inner--cart .cart__item-img {
  width: 59px;
  height: 133px;
  margin-right: 63px;
}

.common-inner--cart .cart__item-info-name {
  margin-bottom: 15px;
}

.common-inner--cart .cart__item-info-articul {
  margin-bottom: 5px;
  letter-spacing: 1.3px;
}

.common-inner--cart .cart__item-info-about {
  letter-spacing: 1.3px;
}

.common-inner--cart .cart__item-price {
  position: absolute;
  right: 27%;
  top: 77px;
}

.common-inner--cart .cart__item-count {
  position: absolute;
  left: 73%;
  top: 24%;
}

.common-inner--cart .cart__item-count-list {
  margin-left: 2px;
}

.common-inner--cart .cart__item-total-price {
  position: absolute;
  left: 91.5%;
  top: 48%;
}

.common-inner--cart .cart__promo-title {
  letter-spacing: 2px;
  margin-bottom: 11px;
}

.common-inner--cart .cart__promo-info {
  letter-spacing: 1px;
  margin-bottom: 22px;
}

.common-inner--cart .cart__promo-btn {
  letter-spacing: 1.7px;
}

.common-inner--cart .cart__total-count {
  margin-left: 56px;
  word-spacing: 4px;
}

.common-inner--cart .filterSortContainer {
  margin-bottom: 24px;
}

.common-inner--cart .cart__promo-input {
  text-align: center;
  font-family: "Droid Sans Regular, Arial, sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #000000;
}
/*# sourceMappingURL=style.css.map */